PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=change_me

STEAM_API_KEY=
STEAM_RETURN_URL=http://localhost:5000/api/auth/steam/callback

USE_MOCK_STEAM=true
